<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="resource/css/style.css">
</head>
<body>
    <div class="login-form">
        <h2>Login con Node JS</h2>
        <form action="auth" method="post">
            <input type="text" name="user" id="user" placeholder="User" required>
            <input type="password" name="pass" id="pass" placeholder="Password" required>
            <input type="submit" class="btn-login" value="Login"> 
        </form>
        <a href="register" class="btn-register">Register</a>
    </div>
</body>
</html>